DB_HOST=postgres
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=change_this_strong_password
DB_NAME=workhour
PORT=3002
ADMIN_TOKEN=workhour-admin-2025
MAIL_USER=your_gmail@gmail.com
MAIL_PASS=your_gmail_app_password
SUPER_ADMIN_USERNAME=superadmin
SUPER_ADMIN_PASSWORD=change_this_super_password
SUPER_ADMIN_JWT_SECRET=change_this_to_a_long_random_string_min_32_chars
